//Primery
$BrightRed: hsl(12, 88%, 59%);
$HoverBrightRed:hsla(12, 88%, 59%, 0.651);
$DarkBlue: hsl(228, 39%, 23%);

// ### Neutral
$DarkGrayishBlue: hsl(227, 12%, 61%);
$VeryDarkBlue: hsl(233, 12%, 13%);
$VeryPaleRed: hsl(13, 100%, 96%);
$VaryLightGray: hsl(0, 0%, 98%);
$fw-sm: 400;
$fw-md: 500;
$fw-lg: 700;